body {
    display: inline-block;
    background-color: #202124;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.chart {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}